* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(12, 1fr);
}

section.ui {
  grid-column: -2/2;
}

pre {
  background-color: rgb(24, 24, 24);
  color: white;
  padding: 20px 10px;
  margin: 10px 0px;
}

section.ui {
  font-family: "Roboto Condensed", sans-serif;
}

section.ui h2 {
  text-align: center;
}

section.ui .p-inputs {
  display: flex;
}

section.ui input {
  margin: 0px 5px 0px 5px;
  text-align: center;
  flex: 1;
}

button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  font-size: 1.2em;
  cursor: pointer;
}

.inactive-btn {
  background-color: gray;
  cursor:not-allowed;
}

section.navigator {
  grid-column: -2/2;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
section.navigator button {
  flex: 1;
}